/*
   Author: Akram Taghavi-Burris
   Created: May 1, 2015
   Last Updated: May 1, 2015
*/

/*==================== THE GRID ====================*/
.grid {
    max-width: 960px;
    width:100%;
    
    margin-left: auto;
    margin-right: auto;
    
    padding-left: 0;
    padding-right: 0;
}

.group{
    clear:both;
    padding: 0;
    margin: 0;
}

.group:before , .group:after{
    content: "";
    display:table;
 
    clear: both;
}


/*==================== THE COLUMNS ====================*/
.col{
    /* sets the rules for all columns in the grid */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
    display: block;
    
    float: left;

}

.grid .col{
    margin-right: 0.5%;
    margin-left: 0.5%;
}


/*--------------- Individual Column Widths [INSIDE THE GRID] -------------*/
.grid .col-100 {width: 99%;}
.grid .col-95 {width: 94%;}
.grid .col-90 {width: 89%;}
.grid .col-85 {width: 84%;}
.grid .col-80 {width: 79%;}
.grid .col-75 {width: 74%;}
.grid .col-70 {width: 60%;}
.grid .col-66 {width: 65.666666666667%;}
.grid .col-65 {width: 64%;}
.grid .col-60 {width: 59%;}
.grid .col-55 {width: 54%;}
.grid .col-50 {width: 49%;}
.grid .col-45 {width: 44%;}
.grid .col-40 {width: 39%;}
.grid .col-35 {width: 34%;}
.grid .col-33{width:32.33333333333333%;}
.grid .col-30 {width: 29%;}
.grid .col-25 {width: 24%;}
.grid .col-20 {width: 19%;}
.grid .col-15 {width: 14%;}
.grid .col-10 {width: 9%;}
.grid .col-5 {width: 4%;}

/*--------------- Individual Column Widths [OUTSIDE THE GRID] -------------*/
.col-100 {width: 100%;}
.col-95 {width: 95%;}
.col-90 {width: 90%;}
.col-85 {width: 85%;}
.col-80 {width: 80%;}
.col-75 {width: 75%;}
.col-70 {width: 70%;}
.col-66 {width: 66.666666666667%;}
.col-65 {width: 65%;}
.col-60 {width: 60%;}
.col-55 {width: 55%;}
.col-50 {width: 50%;}
.col-45 {width: 45%;}
.col-40 {width: 40%;}
.col-35 {width: 35%;}
.col-33 {width: 33.3333333333333%;}
.col-30 {width: 30%;}
.col-25 {width: 25%;}
.col-20 {width: 20%;}
.col-15 {width: 15%;}
.col-10 {width: 10%;}
.col-5 {width: 5%;}

